body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #DDDDDD;
}

.container {
  margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  color: #5e5e5e;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

p {
  color: #5e5e5e;
  font-size: 22px;
}

.btn {
  background-color: #040e35;
  color: #DDDDDD;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  border-color: #040507;
  cursor: pointer;
}
.btn:hover {
  background-color: #DDDDDD;
  color: #040e35;
}

.header {
  background-color: #040507;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .container .menu a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 40px;
  color: #0068b5;
  text-transform: uppercase;
}
.header .container .menu a:hover {
  color: #DDDDDD;
}

.hero-section {
  background: linear-gradient(-75deg, #DDDDDD 50%, #040507 50%);
  height: 90vh;
  display: flex;
  align-items: center;
}
.hero-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .container .row {
  width: 100%;
}
.hero-section .container .row .col-md-5 h1 {
  text-align: center;
  color: #DDDDDD;
  font-size: 25px;
  margin-top: -20px;
}
.hero-section .container .row .col-md-5 p {
  text-align: center;
  color: #DDDDDD;
  font-size: 25px;
  line-height: 40px;
}
.hero-section .container .row .col-md-5 span {
  font-size: 45px;
  color: #0068b5;
}
.hero-section .container .row .col-md-5 .midias {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}
.hero-section .container .row .col-md-5 .midias .card-midias {
  width: 65px;
  height: 65px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #040e35;
}
.hero-section .container .row .col-md-5 .midias .card-midias:hover {
  background-color: #DDDDDD;
}
.hero-section .container .row .col-md-5 .midias .card-midias a img {
  width: 55px;
  padding-left: 9px;
  margin-top: 10px;
}
.hero-section .container .row .img-hero {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-right: 0;
  padding-left: 20%;
}
.hero-section .container .row .img-hero #homem-oculos {
  width: 100%;
}

@media (max-width: 992px) {
  .hero-section {
    background: linear-gradient(0deg, #DDDDDD 100%, #040507 0%);
    background-blend-mode: multiply;
    box-shadow: inset 0 0 150px 30px rgb(0, 0, 0);
  }
  .hero-section .container .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-section .container .row .col-md-5 {
    width: 100%;
  }
  .hero-section .container .row .col-md-5 h1 {
    color: #040e35;
  }
  .hero-section .container .row .col-md-5 p {
    color: #040e35;
  }
  .hero-section .container .row .col-md-5 span {
    font-size: 45px;
    color: #0068b5;
  }
  .hero-section .container .row .col-md-5 .midias .card-midias {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #040e35;
  }
  .hero-section .container .row .col-md-5 .midias .card-midias:hover {
    background-color: #040507;
  }
  .hero-section .container .row .col-md-5 .midias .card-midias a img {
    width: 40px;
    padding-left: 9px;
    margin-top: 10px;
  }
  .hero-section .container .row .img-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 40px;
  }
  .hero-section .container .row .img-hero #homem-oculos {
    width: 70%;
  }
}
.presentation .container {
  margin-top: 40px;
  background-color: #DDDDDD;
}
.presentation .container .row .col-md-6 {
  text-align: center;
  justify-content: center;
}
.presentation .container .row .col-md-6 h2 {
  color: #040507;
}
.presentation .container .row .col-md-6 p {
  font-family: "Nunito", sans-serif;
  color: #040507;
}
.presentation .container img {
  border-radius: 30px;
}
.presentation .container #foto-pessoal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 992px) {
  .presentation .container .row .col-md-6 h2 {
    font-size: 25px;
    color: #040e35;
    margin-bottom: 15px;
  }
  .presentation .container .row .col-md-6 p {
    font-size: 18px;
  }
}
.habilidades {
  background-color: #040e35;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.habilidades h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #DDDDDD;
  margin-top: 30px;
  margin-bottom: 30px;
}
.habilidades .container {
  max-width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
.habilidades .container .card {
  width: 200px;
  height: 150px;
  background-color: #040507;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.habilidades .container .card .img-habilidades {
  width: 35%;
  padding-bottom: 10px;
}
.habilidades .container .card p {
  color: #DDDDDD;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 992px) {
  .habilidades h3 {
    font-size: 40px;
  }
  .habilidades .container {
    max-width: 90%;
  }
  .habilidades .container .card {
    width: 150px;
    height: 120px;
  }
  .habilidades .container .card .img-habilidades {
    width: 30%;
    padding-bottom: 8px;
  }
  .habilidades .container .card p {
    font-size: 18px;
  }
}
.projetos {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projetos .area-projetos {
  width: 90%;
  background-color: #040507;
  border-radius: 15px;
}
.projetos .area-projetos h4 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #0068b5;
  padding-top: 30px;
  padding-bottom: 20px;
}
.projetos .area-projetos p {
  font-size: 20px;
}
.projetos .area-projetos .p-titulo {
  text-align: center;
  padding-bottom: 20px;
  color: #DDDDDD;
  font-family: "Nunito", sans-serif;
}
.projetos .area-projetos .p-titulo #tecnologias {
  color: #0068b5;
}
.projetos .area-projetos .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.projetos .area-projetos .container img {
  border-radius: 10px;
  border: 1px solid #DDDDDD;
}

@media (max-width: 992px) {
  .projetos .area-projetos h4 {
    font-size: 40px;
  }
}
.footer {
  background-color: #040507;
  margin: 0 auto;
  padding: 10px 0;
}
.footer .container {
  margin: 0 auto;
}
.footer .container p {
  text-align: center;
  color: #DDDDDD;
  font-size: 18px;
  margin: 0;
}
.footer .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .row .midias {
  display: flex;
  justify-content: center;
}
.footer .container .row .midias .card-midias {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #040e35;
}
.footer .container .row .midias .card-midias:hover {
  background-color: #DDDDDD;
}
.footer .container .row .midias .card-midias a img {
  width: 40px;
  padding-left: 9px;
  margin-top: 8px;
}/*# sourceMappingURL=style.css.map */