
.header{

    background-color: $dark;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    .container{
        
        
        
        margin: 0 0 0 50px;
        padding: 0 15px 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        

        .menu{
      
            a{
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                margin-left: 40px;
                color: $blue;
                text-transform: uppercase;
            
                &:hover{
                    color: $light;
                }

            }

        }


    }

}

.header-fixed{

    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    
}



//////////// RESPONSIVO /////////////// 

@media (max-width:992px){

    .header{

        height: 60px;

        .menu{

            width: 80%;
            height: 100vh;
            background-color: $dark;
            color: $blue;
            box-sizing: border-box;
            position: fixed;
            z-index: 2;
            top: 60px;
            left: 0;
            

            transform: translateX(-100%) !important;
            transition: 0.3s;

      
            a{

                font-size: 14px !important;
                display: block;
                padding: 30px 15px;
                border-bottom: 1px solid white;
                margin-left: 0 !important;
                
                

                // mostra no mobile, atraves da cor $light o item selecionado//
                &:active{ 
                    color: $light;
                }

            }

        }

        .barras-menu{

            display: flex;
            flex-direction: column;

            .barras{

                width: 40px;
                height: 3px;
                margin-bottom: 4px;
                background-color: white;

            }

        }

        .menu-open{

            transform: translate(0) !important;
            transition: 0.3s;

        }

    }
}    