
.hero-section{

    
    background: linear-gradient(-75.00deg, $light 50.00%, $dark 50.00%);
    height: 90vh;
    display: flex;
    align-items: center;
    

    .container{

        display: flex;
        justify-content: space-between;
        align-items: center;
        
     

        .row{

            width: 100%;            
            
            .col-md-5{
                
            
        
                   h1{
                    text-align: center;
                    color: $light;
                    font-size: 25px;
                    margin-top: -20px;
                    
                    
                   }
        
                   p{
                    text-align: center;
                    color: $light;
                    font-size: 25px;
                    line-height: 40px;
                   }
        
                   span{
                    font-size: 45px;
                    color: $blue;
                   }
                   
                   .midias{
                    
                    margin-left: 170px;
                    display: flex;
                    

                    .card-midias{
                        width: 65px;
                        height: 65px;
                        margin-left: 20px;
                        border-radius: 20px;
                        background-color: $darkBlue;

                        &:hover{
                            background-color: $light;
                        }
                      

                        a{

                            img{
                                width: 55px;
                                padding-left: 9px;
                                margin-top: 10px;
                                
                            }
                           }

                    }

    

                }
                   
                
            }

            .img-hero{
                    
                display: flex;
                justify-content: center;
                padding-bottom: 40px;
                padding-right: 0;
                padding-left: 20%;


                #homem-oculos{
                    
                    width: 100%;
            
                }
                
               }

          
 


        }
        
        

        
    }




    





}