
.hero-section{

    
    background: linear-gradient(-75.00deg, $light 50.00%, $dark 50.00%);
    height: 95vh;
    display: flex;
    align-items: center;
    

    .container{

        display: flex;
        justify-content: space-between;
        align-items: center;
        
     

        .row{

            width: 100%;            
            
            .col-md-5{
                
            
        
                h1{
                    text-align: center;
                    color: $light;
                    font-size: 25px;
                    margin-top: -20px;
                                       
                }
        
                p{
                    text-align: center;
                    color: $light;
                    font-size: 25px;
                    line-height: 40px;
                }
        
                span{
                    font-size: 45px;
                    color: $blue;
                }
                   
                .midias{
                    
                    
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    margin-right: 20px;
                    

                    .card-midias{
                        width: 65px;
                        height: 65px;
                        margin-left: 20px;
                        border-radius: 20px;
                        background-color: $darkBlue;

                        &:hover{
                            background-color: $light;
                        }
                      

                        a{

                            img{
                                width: 55px;
                                padding-left: 9px;
                                margin-top: 10px;
                                
                            }
                        }

                    }

                }                 
                
            }

            .img-hero{
                    
                display: flex;
                justify-content: center;
                padding-bottom: 40px;
                padding-right: 0;
                padding-left: 20%;


                #homem-oculos{
                    
                    width: 100%;
            
                }
                
            }

        }
        
    }

}




//////////// RESPONSIVO /////////////// 

@media (max-width:992px){

    .hero-section{

        background: linear-gradient(0.00deg, $light 100.00%, $dark 0.00%);
        background-blend-mode: multiply;
        box-shadow: inset 0 0 150px 30px rgb(0, 0, 0);
        

        .container{

            margin-top: 60px;
            display: flex;
            justify-content: center;
            

           .row{

            display: flex;
            flex-direction: column-reverse;

            .col-md-5{
                
                width: 100%;
        
                h1{ 
                    color: $darkBlue;                     
                }
        
                p{
                    color: $darkBlue;
                }
        
                span{
                    font-size: 45px;
                    color: $blue;
                }
                   
                .midias{
     
                    .card-midias{
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        border-radius: 20px;
                        background-color: $darkBlue;

                        &:hover{
                            background-color: $dark;
                        }
                      

                        a{

                            img{
                                width: 40px;
                                padding-left: 9px;
                                margin-top: 10px;
                                
                            }
                        }

                    }

                }                 
                
            }

            .img-hero{
                    
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin-bottom:40px;
            
                #homem-oculos{
                    
                    width: 70%;
            
                }
                
            }

           }

        }

    }

  

}



@media (max-width:767px){

    .hero-section{

        .container{

            margin-top: 0;

           .row{

            .col-md-5{

                h1{ 

                    margin-top: 10px;   
                    font-size: 25px;                
                }

                p{
                    font-size: 22px;
                }

                span{
                    font-size: 40px;
                }
    
                   
                .midias{
     
                    .card-midias{

                        margin-left: 16px;

                    }

                }                 
                
            }

           }

        }

    }

}



@media (max-width:576px){

    .hero-section{

        .container{

           .row{

            .col-md-5{

                h1{  
                    font-size: 22px;                
                }

                p{
                    font-size: 20px;
                }

                span{
                    font-size: 35px;
                }             
                
            }

           }

        }

    }

}


   



