
.presentation{

    .container{
        margin-top: 40px;
        background-color: $light;
        
        .row{

            .col-md-6{
                text-align: center;
                justify-content: center;
                
                h2{
                    color: $dark;
                }
    
                p{
                    font-family: $fontTexto;
                    color: $dark;
                }
    
            }

        }

        

        img{
            
            border-radius: 30px;
        }

        #foto-pessoal{
            display: flex;
            justify-content:flex-start;
            align-items: center;
        }    

}




}

    




//////////// RESPONSIVO /////////////// 

@media (max-width:992px){

    .presentation{

        .container{

            .row{

                .col-md-6{

                    h2{
                        font-size: 25px;
                        color: $darkBlue;
                        margin-bottom: 15px;
                    }
        
                    p{
                        font-size: 18px;
                    }
        
                }
    
            }


        }

    }



}


@media (max-width:767px){

    .presentation{

        .container{

            .row{

                .col-md-6{
        
                    p{
                        font-size: 17px;
                    }
        
                }
    
            }

            #foto-pessoal{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px 0;
            }

        }

    }



}
