
.presentation{

    .container{
        margin-top: 40px;
        background-color: $light;

        .col-md-6{
            text-align: center;
            justify-content: center;
            
            h2{
                color: $dark;
            }

            p{
                font-family: $fontTexto;
                color: $dark;
            }

        }

        img{
            
            border-radius: 30px;
        }

        #foto-pessoal{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}