.projetos{

    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;



    .area-projetos{

        width: 90%;
        background-color: $dark;
        border-radius: 15px;

        h4{
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            color: $blue; 
            padding-top: 30px;
            padding-bottom: 20px;
        }

        p{
            font-size: 22px;
        }

        .p-titulo{
            text-align: center;
            padding-bottom: 20px;
            color: $light;
            font-family: $fontTexto;

            #tecnologias{
                color: $blue
            }

        }
       

        .container{

            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            
            img{
                border-radius: 10px;
                border: 1px solid $light;
            }

    
        }
    

    }
    
}


//////////// RESPONSIVO /////////////// 

@media (max-width:992px){

    .projetos{

        .area-projetos{

            h4{                
            font-size: 40px;
            }

        }


    }

}


@media (max-width:767px){

    .projetos{

        .area-projetos{

            h4{                
            font-size: 35px;
            }

            p{
                font-size: 20px;
            }

        }


    }

}



@media (max-width:576px){

    .projetos{

        .area-projetos{

            h4{                
            font-size: 30px;
            }

            p{
                font-size: 18px;
            }

        }


    }

}

   
