
body{
    margin: 0;
    font-family: $font;
    background-color: $light;
    
    
}

.container{
    
    margin-bottom: 80px;
}


h1,h2,h3,h4,h5,h6{
    color: $grey;
    font-size: 30px;
    font-family: $font;
}

p{
    color: $grey;
    font-size: 22px;
}


.btn{
    background-color: $darkBlue;
    color: $light;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: $font;
    font-weight: 500;
    border-radius: 10px;
    border-color: $dark;
    cursor: pointer;

    &:hover{
        background-color: $light;
        color: $darkBlue;
    }
}